@import '../../stylesheets/variables.scss';

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 100%;

  .profile-photo {
    border: 2px solid $primary-color;
    box-shadow: $shadow;
    padding: 0;
    margin-bottom: 20px;
  }

  p {
    font-weight: bold;
    color: $primary-color;
    //text-shadow: $shadow;
    text-align: center;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 42px;
  }

  .subheading {
    font-size: 32px;
  }

  .social-links {
    background: $primary-color;
    padding: 5px;
    border-radius: $border-radius;
    box-shadow: $shadow;
    font-size: 20px;
    width: 15%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .social-link {
    color: $primary-text-color;
  }
}

@media (max-width: 375px) {
  .profile-header {
    .heading {
      font-size: 35px;
    }

    .subheading {
      font-size: 28px;
    }
  }
}