@import '../../stylesheets/variables.scss';

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 100%;

  .profile-photo {
    border: 2px solid $primary-color;
    padding: 0;
    margin-bottom: 20px;
  }

  p {
    color: $primary-color;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 42px;
  }

  .subheading {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  .profile-header {
    .heading {
      font-size: 34px;
    }

    .subheading {
      font-size: 30px;
    }
  }
}