.blog-text {
  p {
    margin: 0 0 0.75em 0;
  }

  a {
    text-decoration: underline;
    color: #0093BF;
  }
}

.major {
  .blog-title {
    font-size: 2.75em
  }

  .blog-date {
    font-size: 1.25em
  }
}
