@import '../../../stylesheets/variables.scss';

canvas, .background {
  // Prevent bug on mobile that causes a white bar to appear on bottom of screen when scrolling.
  height: 200vh;
  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: $background;
}
