@import '../../stylesheets/variables.scss';


.profile-photo {
  opacity: 1;
  display: block;
  margin: auto;
  padding: 10px 10%;
  max-height: 200px;  /* Firefox */
  min-width: 200px;
}

.profile {
  box-shadow: 8px 5px 10px rgba(0, 0, 0, .2);
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 25px;
  width: 100%;

  p {
    font-size: 18px;
    text-align: center;
    color: $primary-text-color;
  }

  h2 {
    color: $primary-text-color;
    margin: 10px 0; // overriding default
  }

  .social-links {
    font-size: 20px;
    width: 38%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .social-link {
    color: $primary-text-color;
  }
}