@import '../../stylesheets/variables.scss';


.blog-summary {
  padding: 0;
  margin: 0 40px 40px 30px;

  h2 {
    color: $primary-text-color;
    line-height: 10px;
    margin: 25px 0;
  }

  p {
    color: $primary-text-color;
    line-height: 25px;
    font-size: 18px;
    margin-top: 10px;
  }

  time {
    color: $primary-text-color;
    font-size: 17px;
    font-weight: 900;
  }
}

.blog-preview-image {
  width: 100%;
  border-radius: 10px;
}

.tag {
  font-size: 14px;
}
