@import '../../stylesheets/variables.scss';

@mixin summary-text {
  line-height: 25px;
  font-size: 18px;
  padding: 10px 30px 20px 30px;
  color: $primary-text-color;

}

.blog-summary {
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: $primary-color;
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 25px;

  p {
    @include summary-text();
    padding: 5px 30px 20px 30px;
    color: $primary-text-color;
    margin-top: 10px;
    margin-bottom: 0; // overriding default
  }

  time {
    padding: 30px 30px 0 30px;
    color: $primary-text-color;
    font-size: 17px;
    font-weight: 900;
  }

  .tags {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
  }

  .tag {
    margin-right: 3px;
  }
}

.blog-title {

  h2 {
    padding: 0 30px 0 30px;
    color: $primary-text-color;
    line-height: 40px;
    margin: 25px 0 0 0;
  }

  a {
    text-decoration: none;
  }
}

.read-more {
  a {
    @include summary-text();
    font-size: 18px;
    text-decoration: underline;
  }

}

.blog-preview-image {
  width: 100%;
  border-radius: 10px;
}


