@import '../layouts/sass/main';

 #homepage-hero {
   position: relative;
   background-position: top right;
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   width: 100%;
   background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%);
   transform: skewY(4deg);
   transform-origin: top right;
   display: block;
   height: 30em;
   border-bottom: 10px solid #d81f44;
   max-width: 100%;
   display: flex;
   margin-bottom: 2em;
   h1 {
     position: absolute;
     left: calc(12%);
     top: calc(8%);
     transform: skewY(-4deg);
     transform-origin: top right;
     font-size: 8.5em;
     color: white
   }
 }

#homepage-description {
  padding-bottom: 8em;
  h2 {
    line-height: 1em;
    color: _palette(accent1, bg);
    font-size: 3.5em;
    &+p {
      color: _palette(fg-bold);
      font-size: 1.75em;
      font-weight: _font(weight-bold);
    }
  }
}

@include breakpoint(medium) {
  #homepage-hero {
    height: 20em;
    h1 {
      margin-top: 1em;
      font-size: 4.5em;
    }
  }
  #homepage-description {
    margin-left: 2em;
  }
}

@include breakpoint(small) {
  #homepage-description {
    padding-bottom: 5em;
    h2 {
      font-size: 2.5em;
      &+p {
        font-size: 1.5em;
      }
    }
  }

  #homepage-hero {
    h1 {
      margin-right: 1em;
    }
  }
}

@include breakpoint(xsmall) {

  #homepage-hero {
    h1 {
      margin-top: 0.5em;
    }
  }
}

@include breakpoint(xxsmall) {
  #homepage-hero {
    h1 {
      margin-right: 1em;
      left: calc(5%);
    }
  }
}
