@import '../../stylesheets/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.footer-text {
  width: 100%;
  font-size: 18px;
  color: $primary-text-color;
  padding: 8px;
  background: $primary-color;
  text-align: center;
}