.blog-wrapper {
  padding-top: 10px;

  .row {
    z-index: 1;
    width: 100%;
  }
}

.blog-column {  }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  // Make the profile width look nicer when in this window size by making it wider
  .blog-wrapper {
    .col-lg-3 {
      width: 27%;
    }
    .col-lg-8 {
      width: 70%;
    }
  }
}

@media (max-width: 991px) {
  .blog-wrapper {
    width: 100%;
    padding-top: 0;

    .row {
      margin: 0;
    }
  }

  .blog-column {
    margin-left: 0;
  }
}

