@import '../stylesheets/variables.scss';

.container {
  padding-right: 0; // override bootstrap globally
  padding-left: 0; // override bootstrap globally
}

.content {
  width: 100%
}

.blog-wrapper {
  padding-top: 10px;

  .row {
    z-index: 1;
    width: 100%;
  }
}

.blog-feed {
  margin-left: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-bold {
  font-weight: 700;
}

@media (min-width: 1200px) {
  // Make the profile width look nicer when in this window size by making it wider
  .blog-wrapper {
    .col-lg-3 {
      width: 27%;
    }
    .col-lg-8 {
      width: 70%;
    }
  }
}

@media (max-width: 1199px) {
  .blog-wrapper {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .blog-feed {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .blog-wrapper {
    width: 100%;
    padding-top: 0;
    .container {
      padding-left: 0; // remove bootstrap defaults
      padding-right: 0; // remove bootstrap defaults
      width: 95%;
    }

    .row {
      margin: 0;
    }
  }

  .blog-feed {
    margin-left: 0;
  }
}

@media (max-width: 720px) {
  .blog-wrapper {
    .container {
      width: 100%;
    }
  }
}


