@import '../stylesheets/variables.scss';

.content {
  width: 100%;
  background-color: transparent;
  min-height: 100%;
  position:absolute;
  padding-bottom: 50px;

  // Remove breakpoints and just smoothly decrease container size.
  @media (max-width: 1202px) {
    .container {
      width: 100%;
    }
  }

  @media (max-width: 970px) {
    .container {
      width: 100%;
    }
  }

  @media (max-width: 750px) {
    .container {
      width: 100%;
    }
  }
}

.font-bold {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel {
  background: $primary-color;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);

  ul, p{
    font-size: 20px;
  }

  // Override
  .panel-footer {
    width: 100%;
      a {
        width: 100%;
        margin: auto;
      }
  }
}

@media (max-width: 767px) {
  .panel {
    ul, p{
      font-size: 20px;
    }
  }
}

@media (max-width: 415px) {
  .container {
    padding-right: 0; // override bootstrap globally
    padding-left: 0; // override bootstrap globally
  }
  .panel {
    ul, p{
      font-size: 19px;
    }
  }
}

.panel-footer {
  border-top: none; // override
  background: transparent;
  width: 90%;
  padding: 0;
  margin: 0;
  display: flex;

  flex-flow: row wrap;

  a {
    width: 23.5%;
    margin: 10px 10px 10px 0;
    font-size: 22px;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, .2);
  }
}

@media (max-width: 1199px) {
  .panel-footer {
    justify-content: space-around;

    a {
      width: 50%;
    }
  }
}

@media (max-width: 762px) {
  .panel-footer {
    a {
      width: 100%;
    }
  }
}

.tag {
  @include tag();
}
