@import '../../stylesheets/variables.scss';

.logo {
  max-width: 70px;
  margin-left: -5px;
  margin-top: -5px;
}

@media (max-width: 768px) {
  .logo {
    max-width: 70px;
    margin-left: 10px;
    margin-top: -12px;
  }
}

.nav-bar {
  background: $primary-color;
  opacity:$foreground-element-opacity;
}

.nav-links > li {
  margin: 0;
  min-height: 60px;
}

.nav-links > li > a {
  padding-top: 20px;
  padding-bottom: 18px;
}


.nav-links > .active > a {
  background-color: transparent !important;
  font-weight: 600;
  position: relative;
  border-bottom: 2px solid $primary-selected-color;
}

.icon {
  font-size: 1.4em;
  margin-right: 7px;
}