@import '../../stylesheets/variables.scss';

.project {
  background: $primary-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: $border-radius;
  padding: 25px 0;
  margin-bottom: 70px;
  box-shadow: $shadow;

  p {
    color: $primary-text-color;
    line-height: 25px;
    font-size: 18px;
    margin-top: 10px;
  }

  time {
    width: 90%;
    color: $primary-text-color;
    font-size: 17px;
    font-weight: 900;
  }
}

.project-preview {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.mobile-preview {
  width: 30%;
}

.desktop-preview {
  width: 60%;
}

.project-heading {
  display: flex;
  justify-content: space-between;
  width: 90%;

  div {
    margin: 0 0 40px 0;
    font-size: 23px;
    color: $primary-text-color;
    font-weight: 800;
  }
}

.project-summary {
  width: 90%;

  div, p {
    margin: 0 0 25px 0;
    font-size: 20px;
    color: $primary-text-color;
  }
}

.tag {
  font-size: 14px;
}

@media  (max-width: 800px) {
  .project-heading {
    flex-direction: column;
    div {
      margin: 0 0 20px 0;
    }
  }
}

@media (max-width: 750px) {

  .project-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobile-preview {
    width: 50%;
  }

  .desktop-preview {
    width: 90%;
  }
}

@media (max-width: 415px) {
  .project-summary {
    width: 85%;
  }
  .project {
    margin-bottom: 40px;
  }
}