@import '../../stylesheets/variables.scss';

.contact {
  background: $primary-color;
  padding: 40px;
  //FIX ME: Not found requires to add 100% to margin-bottom so that flexbox works correcty. Too hacky. Footer CSS needs to be adjusted.
  margin: 20px 20px 100% 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}