.blog-wrapper {
  padding-top: 10px;

  .row {
    z-index: 1;
    width: 100%;
  }
}

.blog-column {  }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .blog-wrapper {
    width: 100%;
    padding-top: 0;

    .row {
      margin: 0;
    }
  }

  .blog-column {
    margin-left: 0;
  }
}

