@import '../../stylesheets/variables.scss';

.background {
  position: fixed;
  // Prevent bug on mobile that causes a white bar to appear on bottom of screen when scrolling.
  height: 200vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}