// Colors
$primary-color: rgba(238, 238, 238, 0.9);
$primary-selected-color: black;
$primary-text-color: rgba(28, 28, 28, 0.71);
$secondary-text-color: rgba(149, 149, 149, 0.71);
$background: #2765ac;

// Theme Styles
$box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
$border-radius: 15px;

// For tagging blog posts
@mixin tag {
  font-size: 14px;
  background: none;
  border: 1px solid;
  color: $primary-text-color;
}